@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: auto;
}
.webapps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  background-color: blue;
}

.viewApp{
    padding: 10px;
    width: 380px;
}

p, h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.credentials p{
    font-size: 18px;
}

iframe {
  height: 650px;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.5);
  border-radius: 20px;
}

.mensajero, .usuario, .admin{
    border-radius: 30px;
}

.mensajero:hover, .usuario:hover, .admin:hover{
    background-color: green;
}
.mensajero:hover p, .usuario:hover p, .admin:hover p{
    color: white;
}
.mensajero:hover h1, .usuario:hover h1, .admin:hover h1{
    color: white;
}

    @media (min-width:1550px){
        .webapps{
            width: 80%;
        }
    }